<%- include('partials/header') %>
<main>
  <h1><%= title %></h1>
  <p class="intro-text">Here are a few of our partner organizations:</p>

  <div class="grid-container">
    <% organizations.forEach(organization => { %>
    <a href="/organizations/<%= organization.organization_id %>" class="organization-card-name">
      <div class="organization-card">
        <img
          class="organization-card-logo"
          src="/images/<%= organization.logo_filename %>"
          alt="<%= organization.name %> logo"
        />
        <%= organization.name %>
        <div class="organization-card-email"><%= organization.contact_email %></div>
      </div>
    </a>
    <% }) %>
  </div>
  <p>
    <a class="new-organization-button" href="/new-organization">Add a new organization</a>
  </p>
</main>
<%- include('partials/footer') %>
