<%- include('partials/header') %>
<main>
  <h1><%= title %></h1>
  <section>
    <h2><%= organization.name %></h2>
    <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.description %>" />
    <p>Description: <%= organization.description %></p>
    <h3>Service Projects</h3>
    <ul>
      <% projects.forEach(project => { %>
      <li><%= project.title %></li>
      <% }) %>
    </ul>
  </section>
</main>
<%- include('partials/footer') %>
