<%- include('partials/header') %>
<main>
  <h1><%= title %></h1>

  <div class="projects-list">
    <h2>Upcoming Service Projects</h2>

    <% projects.forEach(project => { %>
    <div class="projects-list-item">
      <a href="/projects/<%= project.project_id %>">
        <div class="projects-list-date">
          <% let projectDate = new Date(project.date); %> <%= projectDate.toLocaleDateString("en-US", { year: "numeric",
          month: "long", day: "numeric" }) %>
        </div>
        <div class="projects-list-title"><%= project.title %></div>
        <div class="projects-list-org"><%= project.organization_name %></div>
      </a>
    </div>
    <% }) %>
  </div>
</main>
<%- include('partials/footer') %>
