<%- include('partials/header') %>
<main>
  <h1><%= title %></h1>
  <h2>Upcoming Service Projects</h2>
  <ul>
    <% projects.forEach(project => { %>
    <li>
      <a href="/projects/<%= project.project_id %>">
        <%let projectDate = new Date(project.date); %> <%= projectDate.toLocaleDateString("en-US", { year: "numeric",
        month: "long", day: "numeric" }) %>: <%= project.title %> (<%= project.organization_name %>)
      </a>
    </li>
    <% }) %>
  </ul>
</main>
<%- include('partials/footer') %>
